@if (maskmails.length >0) {
  <div class="ng-content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center">
            <!-- Header Image -->
            @for (maskmail of maskmails; track maskmail) {
              <div>
                <table>
                  <tbody>
                    <tr>
                      <td style="padding-bottom:20px">
                        <img [src]="maskmail.banner? maskmail.banner : 'https://dummyimage.com/700x200/ddd/555'" width="750" alt="Banner Image" />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- Jobs Table -->
                <!-- Jobs Table -->
                <div [innerHTML]="tableHtml"></div>
                <!-- Additional Content -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <table
                          width="750"
                          align="center"
                          border="0"
                          cellspacing="0"
                          cellpadding="0">
                          <tbody>
                            <tr>
                              <td>
                                <div [innerHTML]="sharedService.selectedValue() === 'job' ? sharedService.job() : sharedService.rec()"></div>

                                <table width="750" align="center" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div style="line-height:1.5; padding:10px 0 0 0">
                                          <b style="color:#C82613">We've Moved!</b>
                                          <br>
                                          <b style="color:#0C64C0">New Address:</b>The Edge: A9-A10, Ayasmayan East Street (St. 139), Phum 1, Sangkat Sras Chork, Khan Daun Penh, Phnom Penh <br>
                                          <b style="color:#444444"> Website: </b>
                                          <a href="https://www.hrinc.asia" style="color:#2999CB; text-decoration:underline;">www.hrinc.asia</a> | 
                                          <a href="https://www.hrincjobs.com" style="color:#2999CB; text-decoration:underline;">www.hrincjobs.com</a>
                                        </div>    
                                        <div style="padding:15px 0 0 0">
                                          <p style="border-top:solid 1px lightgrey;font-size:1px;"></p>                                      
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                
                                <table  width="750" align="center" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <img [src]="maskmail.footer? maskmail.footer: 'https://dummyimage.com/700x300/ddd/555'" width="750" alt="Footer Image" />
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                                <table width="750" align="center" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div style="line-height:1.5; padding:5px 0 0 0; text-align: left;">
                                          You can
                                          <a style="color:#2999CB; text-decoration:underline;" href="{UPDATE_PROFILE_URL}" class=""
                                            >update your preferences</a
                                            >
                                            or
                                            <a style="color:#2999CB; text-decoration:underline;" href="{UNSUBSCRIBE_URL}" class=""
                                              >unsubscribe from this list</a>.
                                        </div> 
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                }
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <button mat-raised-button (click)="exportAsHTML()">Export as HTML</button> -->
      </div>
    }
