  <div requiredLabel class="form__group form__group--inline">
    <label class="form__label text-nowrap" for="job_title" formControlName="job_title">Job Title:</label>
    <input formControlName="job_title" class="form__input " id="job_title" type="text" value="" required>
  </div>

    <div class="border_b"></div>

  <div requiredLabel class="form__group form__group--inline">
    <label class="form__label text-nowrap" for="company_name" formControlName="company_name">Company Name:</label>
    <input formControlName="company_name" class="form__input" id="company_name" type="text" value="" required>
  </div>
