<div class="container px-5 mx-auto gap-5 flex ">
  <app-maskmail-preview></app-maskmail-preview>
<div>
  <div class="sticky top-5 space-y-2">
      <p class="text-xl font-medium">Form MaskMail</p>

<!-- Header Section       -->
      <div class="p-4 bg-slate-100 rounded-lg space-y-2">
        <span class="text-sm">Header Section</span>
        <div class="flex gap-5 items-center">
          <mat-form-field class="w-full">
            <mat-label>Banner Url</mat-label>
            <input type="text" matInput [(ngModel)]="banner">
            @if (banner) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="banner=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
          <button mat-stroked-button (click)="openBannerDialog()">Browse</button>
        </div>
      </div>

<!-- Body Section -->
      <div class="p-4 bg-slate-100 rounded-lg space-y-2">
        <span class="text-sm">Body Section</span>
        <input class="ng-file-input bg-slate-100 rounded-full cursor-pointer" type="file" (change)="handleFileInput($event)">
      </div>

<!-- Footer Section -->
      <div class="p-4 bg-slate-100 rounded-lg space-y-2">
        <span class="block text-sm">Footer Section</span>
        <mat-radio-group [value]="selectedType" (change)="updateSelectedValue($event.value)">
          <mat-radio-button value="job">Job Portal</mat-radio-button>
          <mat-radio-button value="rec">Recruitment</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="flex gap-5 items-center" >
        <mat-form-field class="w-full">
          <mat-label>Footer Url</mat-label>
          <input type="text" matInput [(ngModel)]="footer">
          @if (footer) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="footer=''">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <button mat-stroked-button (click)="openFooterDialog()">Browse</button>
      </div>


      <div class="space-x-2">
        <button matButton="tonal" (click)="submit()">Submit</button>
        <button matButton="elevated" (click)="exportAsHtml()">Export as HTML</button>
      </div>
      <div class="my-5">
        <app-maskmail-table></app-maskmail-table>
      </div>
  </div>
</div>
</div>

@if(isLoading()){
<mat-spinner></mat-spinner>
}
