<h2>Add New Product</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label for="name">Product Name:</mat-label>
      <input matInput id="name" formControlName="name" />
      <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        Product name is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label for="price">Price:</mat-label>
      <input matInput id="price" type="number" formControlName="price" />
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
        Price must be a positive number.
      </div>
    </mat-form-field>
  </div>


  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Add Product</button>
</form>

<!-- Display existing products -->
<h2>Product List</h2>
<ul>
  <li *ngFor="let product of products">
    {{ product.name }} - {{ product.price | currency }}
    <button (click)="onEdit(product)">Edit</button>
  </li>
</ul>

<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
