  <div class="container mt-5" >
    <div class="content">
      <div class="content__header">
        <div class="content__title">Code Preview</div>
      </div>
      <div class="content__body">
        <!-- Code here -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
          <div class="code">
            <div class="code__title">Template</div>
            <pre><code >{{html()}}</code></pre>
          </div>
          <div class="code">
            <div class="code__title">Typescript</div>
            <pre><code>{{ts()}}</code></pre>
          </div>

        </div>
      </div>
    </div>
  </div>
